* {
  margin: 0;
  padding: 0;
  color: seashell;
  background-color: Black;
}
body{
  font-size: 22px;
  text-align: center;
  font-family: Helvetica;
  opacity: 0.9;
}
/* Navigation */
header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: underline;
  margin: 0 10px
}
.logo {
  height: 50px;
  margin-left: 10px;
}
/* Our Mission Content */
.mission {
  margin-top: 70px;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picheader {
  width: 1200px;
  padding: 10px 0;
}
