* {
  margin: 0;
  padding: 0;
  color: seashell;
  text-align: center;
  box-sizing: border-box;
}
body{
  background-color: Black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}
/* Navigation */
header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: Black;
}
a {
  text-decoration: underline;
  margin: 0 10px
}
.logo {
  height: 50px;
  margin-left: 10px;
}
/* Our Mission Content */
.mission {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picheader {
  width: 1200px;
  padding: 10px 0;
  background-color: Black;
}
/* Tea of the Month */
.section2 {
  width: 1000px;
  margin: 0 auto;
}
.tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pic {
margin: 25px 15px 10px 15px;
}
/* Locations */
.section3 {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 60px auto 0 auto;
}
.location {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address {
  width: 280px;
  padding: 10px 5px;
  margin: 10px 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: Black;
}
p{
  margin: 20px 0;
}
#location {
  position: relative;
  top: 100px;
}
/* Footer */
footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.copyright {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
